*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
body {
    position: relative;
    background-color: #6c3f9d;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #6c3f9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
header .logo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: #FFFFFF;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover {
    color: #fff;
}
header button {
    background-color: #000;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
}

.ml h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color:#fff;
}
.ml h2 {
    color:#fff;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.ml p {
    margin-bottom: 14px;
    color: #FFFFFF;
    font-size: 13px;
}