
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;
}
body {
    position: relative;
    background-color: #6c3f9d;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #6c3f9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
header .logo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: #FFFFFF;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
    transition: 0.2s;
}
.menu li a:hover {
    color: #fff;
}
header button {
    background-color: #000;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
}
#home {
    margin-top: 50px;
    height: calc(100vh - 50px);
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#home .left {
    width: 40%;
}
#home .left h1 {
    font-size: 35px;
    margin-bottom: 10px;
}
#home .left h1 span {
    color: #FFFFFF;
}
#home .left p {
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 13px;
}
#home .left a {
    background-color: #000;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}
#home .left a:hover {
    background-color: #000;
}
#home .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .right img {
    width: 100%;
}
#cars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_title {
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
    color:#fff;
}
.section_title:before {
    position: absolute;
    left: -3px;
    bottom: 0;
    content: "";
    background-color: #000000;
    width: 100%;
    height: 3px;
    border-radius: 16px;
}
.section_title:after {
    position: absolute;
    top: 0;
    left: -3px;
    content: "";
    background-color: #000000;
    width: 100%;
    height: 3px;
    border-radius: 16px;
}
.images {
    margin: 100px auto;
    padding: 0 8%;
}
.images ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.images li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
}

.images li div {
    width: 100%;
    height: 60%;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.images li div img {
    height: 100%;
    width: 100%;
}

.images li:hover {
    transform: scale(1.1);
    margin: 20px;
}
.images li span {
    color: #FFFFFF;
    font-size: 18px;
}
#cars li span.prix {
   color: #FFFFFF;
   font-weight: bold;
   margin-bottom: 10px;
}
#cars li a {
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
}
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.list_services {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.service {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 20px;
}
.service i {
    font-size: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}
.service h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.service p {
    font-size: 12px;
    color: #FFFFFF;
}
.service a {
    margin-top: 10px;
    color: #FFFFFF;
    padding: 5px 20px;
    border: 1px solid #000;
    font-size: 12px;
}
#contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12%;    
}
.localisation_contact_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0;
    height: 80vh;
}
.localisation {
    width: 49%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.localisation iframe {
    width: 100%;
    border-radius: 6px;
}

.localisation_contact_div .form_contact {
    width: 49%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 6px;
}
.localisation_contact_div h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFFFFF;
}
.localisation_contact_div .form_contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form_contact form input , textarea {
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    outline: 0;
    border-radius: 6px;
    font-size: 15px;
    resize: none;
}
.form_contact form input[type="submit"]{
    margin-bottom: 0;
    background-color: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
}
footer {
    background-color: #633a90;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    font-size: 14px;
}

footer a {
    color: #fff;
}

.bandeau {
    background-color: #633a90;
}